@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset CSS */
@layer reset {
  button,
  input {
    /* CSS to Reset */
  }
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: auto;
  @apply bg-slate-50;
  @apply text-slate-700;
}

body {
  @apply min-h-full;
}

@layer base {
  /* inter var - latin */
  /* @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: url("/fonts/inter-var-latin.woff2") format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
      U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
      U+2215, U+FEFF, U+FFFD;
  } */

  /* #region  /**=========== Typography =========== */
  .h0 {
    @apply font-inter text-3xl font-bold md:text-5xl;
  }

  h1,
  .h1 {
    @apply font-inter text-2xl font-bold md:text-3xl;
  }

  h2,
  .h2 {
    @apply font-inter text-xl font-bold md:text-2xl;
  }

  h3,
  .h3 {
    @apply font-inter text-lg font-bold md:text-xl;
  }

  h4,
  .h4 {
    @apply font-inter text-base font-bold md:text-lg;
  }

  body,
  p {
    @apply font-inter text-base;
  }

  pre {
    @apply whitespace-pre-wrap text-xs;
  }

  ol {
    @apply list-decimal;
  }

  ul {
    @apply list-disc;
  }

  /* #endregion  /**======== Typography =========== */

  /* #region  /**=========== Scrollbar =========== */

  *::-webkit-scrollbar {
    width: 11px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #919191;
    border-radius: 15px;
    border: 3px solid #ffffff;
  }

  /* #endregion  /**======== Scrollbar =========== */

  .debug {
    outline: 1px solid red;
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(
        to right,
        var(--color-primary-400),
        var(--color-primary-500)
      );
    background-size:
      100% 2px,
      0 2px;
    background-position:
      100% 100%,
      0 100%;
    background-repeat: no-repeat;
  }
  @media (prefers-reduced-motion: no-preference) {
    .animated-underline {
      transition: 0.3s ease;
      transition-property: background-size, color, background-color,
        border-color;
    }
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size:
      0 2px,
      100% 2px;
  }
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.5s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent),
    linear-gradient(#22d3ee, #22d3ee);
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}

/* #region  Naive UI overrides  */

/* #endregion  Naive UI overrides  */

/* #region  Page Transitions  */
.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

/* #endregion  Page Transitions  */

/* #region  Layout Transitions  */
.layout-enter-active,
.layout-leave-active {
  transition: all 0.4s;
}

.layout-enter-from,
.layout-leave-to {
  opacity: 0;
}

/* #endregion  Layout Transitions  */

/* #region  Component Transitions  */
.fade-enter-active,
.fade-leave-active {
  opacity: 0;
  filter: blur(1rem);
  transition: all 0.25s;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* #endregion  Component Transitions  */

.loader {
  width: 48px;
  height: 48px;
  display: inline-block;
  border-radius: 50%;
  box-sizing: border-box;
  animation: animloader 1s ease-in infinite;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.remove-border {
  --n-border-color: inherit !important;
}
.override-table-striped tr:nth-child(even) {
  background-color: rgba(240, 249, 255, 0.5);
  --n-td-color: bg-sky-50;
}

.override-table-striped tr:nth-child(odd) {
  @apply bg-white;
  --n-td-color: #ffff;
}

.disc-hollow {
  list-style-type: circle;
}

.list {
  list-style-type: disc;
}

/*.content{*/
/*        mask-image: linear-gradient(to top, white, transparent)!important;*/
/*}*/

/*.content::before{*/
/*  background: url("../../public/images/Meteor.svg");*/
/*}*/

.content {
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../public/images/Meteor.svg");
  background-size: cover;
  background-position: center;
  mask-image: linear-gradient(0deg, white 40%, transparent);
  z-index: -1;
}

.router-link-active .menu-header,
.menu-header:hover {
  color: #0284c7;
}
