# The ID of your GitHub App
GITHUB_APP_ID=
WEBHOOK_SECRET=development
PRIVATE_KEY=

# Use `trace` to get verbose logging or `info` to show less
LOG_LEVEL=debug

# Go to https://smee.io/new set this to the URL that you are redirected to.
WEBHOOK_PROXY_URL=https://smee.io/3y38SHIG6mO8nRNA

MONGODB_URI=
MONGODB_DB_NAME=